---
import Layout from "../layouts/Layout.astro";
---
<Layout>

    <section> 
        <p style="min-height: 100vh; 
        display: grid; 
        place-content: center; 
        justify-content: center;"> 
            Merhaba!
        </p>
    </section>
</Layout>